body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

figure, ul, p, h1, h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/** HEADER **/

.header {
    background-color: #1f2937;
}

.header__wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__lodo-link {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

.header__nav-list {
    display: flex;
    column-gap: 30px;
}

.header__nav-link {
    font-size: 18px;
    color: #e5e7eb;
}

/* HERO */

.hero {
    background-color: #1f2937;
}

.hero__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    width: 440px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.hero__content-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero__content-desc {
    font-size: 18px;
    color: #e5e7eb;
}

.hero__content-btn {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 600;
    color: #e5e7eb;
}

.hero__img {
    background-color: #999a9d;
    width: 550px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INFO */

.info__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.info__title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info__cards {
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

.info__card {
    width: 150px;
}

.info__card-photo {
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 15px;
}

.info__card-desc {
    text-align: center;
    color: #495262;
}

/* QUOTE */

.quote {
    background-color: #e5e7eb;
}

.quote__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 770px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote__sign {
    font-size: 28px;
    font-weight: 600;
    align-self: flex-end;
}

/* CONTENT */

.connect {
    padding-top: 80px;
    padding-bottom: 80px;
}

.connect__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.connect__content-title {
    font-size: 36px;
    color: #f9faf8;
}

.connect__content-text {
    font-size: 18px;
    color: #f9faf8;
}

.content__btn {
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border: 2px solid white;
}

/* FOOTER */

.footer {
    background-color: #1f2937;
}

.footer__wrapper {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrapper-text {
    font-size: 18px;
    color: #f9faf8;
}